:root {
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-22: 22px;
    --font-24: 24px;
    --font-40:40px;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
    --white1: #ffffff;
    --black1:#000000;
    --grey1: #C0C0C0;
    --grey2:#C6C6C6;
    --red1: #ff2e2e;
    --green1:#008000;
}
